# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

# Forward traffic on port 443 with known SNI to the desired target IP.
# This is done on TCP level, without terminating the TLS encryption.
stream {

    map $ssl_preread_server_name $name {
{% for target in reverse_proxy__forwarding_targets %}
        {{ target.fqdn }} {{ target.ip | default(reverse_proxy__default_ip) }}:{{ target.port | default(reverse_proxy__default_port) | string }};
{% endfor %}
    }

    server {
        listen      443;
        proxy_pass  $name;
        ssl_preread on;
        resolver    9.9.9.9;
    }
}

# Redirect any request from port 80 to port 443
http {
    server {
        listen 80 default_server;
        server_name _;
        return 301 https://$host$request_uri;
    }
}
